#momenttime{
    justify-content:right;
    text-align: right;
}

#tweetusername{
      justify-content:left;
      text-align: left;
}
#hearthicon{
      justify-content:right;
      text-align: right;
}