#formregister{
    margin-top: 5%;
}

#register-email-field {
    margin-top: 1%;
}
#register-username-field {
    margin-top: 1%;
}

#register-password-field{
    margin-top: 1%;
}

#register-button{
    margin-top: 1%;
}